<div class="block issue">

    <div class="blockSignature">
        <h3>Issues</h3>
    </div>

    {{#if issues }}
        <ul id="issues_ul">
           {{#each issues}}
            <li id={{id}}>
                Title:     {{title}}       <br>
                Body:       {{issueBody}}   <br>
                Comments:   {{comments}}    <br>
                URL:        {{issueUrl}}    <br>
                Created at: {{created_at}}  <br>
                Updated at: {{updated_at}}  <br>
            </li>
           {{/each}}
        </ul>
    {{else}}
        No issues brosan.
    {{/if}}
</div>
<div>
    <div class="blockSignature notification">
        <h3>Notifications</h3>
    </div>
    <ul id="notification_ul">

    </ul>
</div>
